.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.image-container:hover .overlay {
    opacity: 1;
}
.overlay {
    background: rgba(250, 249, 249, 0.8);
    width: 100;
    transition:  0.5s ease;
    font-size: 20px;
    text-align: center;
}

.btn {
    flex:auto;
    max-width: 10%;
    max-height: 10%;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: -1;
}