<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Web site created using create-react-app" />
  <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
  <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../../index.css">
  <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
  <title>React App</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root">
    <div>
      <h3>Anime Title</h3>
      <div class="row">
        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title col s6">My Karate List</span>
              <span class="dot">Number 1 List</span>
            </div>
          </div>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title col s6">My Karate List</span>
              <span class="dot">Number 1 List</span>
            </div>
          </div>
        </div>
        
        <div class="col s12 m4 offset-m4">
          <div class="card blue-grey darken-1">
            <h2 class="black white-text center-align">My Anime</h2>
            <div class="card-content white-text favAnime">
              <ul class="row">
                <li class="btn-anime col s12 m12 l6">
                  <a href="https://anilist.co/anime/132405/Sono-Bisque-Doll-wa-Koi-wo-Suru/" class="favAnimeContainer">
                    <h3 class="h3FavAnimesTitle">
                      <span class="spanFavAnimesTitle">
                        Sono Bisque Doll wa Koi wo Suru
                      </span>
                    </h3>
                    <img class = "favAnimeImg" width="175" height="250" alt="Sono Bisque Doll wa Koi wo Suru" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx132405-Iy6Lze5SOme8.jpg">
                  </a>
                </li>

                <li class="btn-anime col s12 m12 l6">
                  <a href="https://anilist.co/anime/131681/Shingeki-no-Kyojin-The-Final-Season-Part-2/" class="favAnimeContainer">
                    <h3 class="h3FavAnimesTitle">
                      <span class="spanFavAnimesTitle">
                        Shingeki no Kyojin: The Final Season Part 2
                      </span>
                    </h3>
                    <img class = "favAnimeImg" width="175" height="250" alt="Sono Bisque Doll wa Koi wo Suru" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx131681-ODIRpBIbR5Eu.jpg">
                  </a>
                </li>

                <li class="btn-anime col s12 m12 l6">
                  <a href="https://anilist.co/anime/142329/Kimetsu-no-Yaiba-Yuukakuhen/" class="favAnimeContainer">
                    <h3 class="h3FavAnimesTitle">
                      <span class="spanFavAnimesTitle">
                        Kimetsu no Yaiba: Yuukaku-hen
                      </span>
                    </h3>
                    <img class = "favAnimeImg" width="175" height="250" alt="Sono Bisque Doll wa Koi wo Suru" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx142329-Oa6NT07c5KOn.jpg">
                  </a>
                </li>

                <li class="btn-anime col s12 m12 l6">
                  <a href="https://anilist.co/anime/131573/Jujutsu-Kaisen-0/" class="favAnimeContainer">
                    <h3 class="h3FavAnimesTitle">
                      <span class="spanFavAnimesTitle">
                        Jujutsu Kaisen 0
                      </span>
                    </h3>
                    <img class = "favAnimeImg" width="175" height="250" alt="Sono Bisque Doll wa Koi wo Suru" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx131573-rpl82vDEDRm6.jpg">
                  </a>
                </li>

                <li class="btn-anime col s12 m12 l6">
                  <a href="https://anilist.co/anime/132405/Sono-Bisque-Doll-wa-Koi-wo-Suru/" class="favAnimeContainer">
                    <h3 class="h3FavAnimesTitle">
                      <span class="spanFavAnimesTitle">
                        Arifureta Shokugyou de Sekai Saikyou 2nd season
                      </span>
                    </h3>
                    <img class = "favAnimeImg" width="175" height="250" alt="Sono Bisque Doll wa Koi wo Suru" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx112323-C6nlP84x8jH8.png">
                  </a>
                </li>

              </ul>
              <!-- <ul class="widget-slide js-widget-slide">
                <li class="btn-anime">
                  <a href="https://myanimelist.net/anime/50265/Spy_x_Family" class="link">
                    <h3 class="h3FavAnimesTitle">
                      <span class="spanFavAnimesTitle">
                        Sono Bisque Doll wa Koi wo Suru
                      </span>
                    </h3>
                    <img width="160" height="220" alt="Sono Bisque Doll wa Koi wo Suru" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx132405-Iy6Lze5SOme8.jpg">
                  </a>
                </li>
              </ul> -->
              <!-- <div class="">
                <img class="favAnimeImg"src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx132405-Iy6Lze5SOme8.jpg" alt="Girl in a jacket" width="175" height="250">
                <h3 class="favAnimesTitle">Sono Bisque Doll wa Koi wo Suru</h3>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>